{
  "openapi": "3.1.0",
  "info": {
    "title": "Looplex Court Venue v3",
    "termsOfService": "https://docs.looplex.com.br/legal/termos-de-uso",
    "contact": {
      "name": "Developers Looplex",
      "email": "developer@looplex.com.br",
      "url": "https://www.looplex.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://www.looplex.com.br/img/logo-default.png",
      "href": "/"
    },
    "description": "Endpoints de Court Venue v3\n"
  },
  "servers": [
    {
      "url": "https://apim.looplex.com/varas_foros",
      "description": "Court Venue v3 Server"
    }
  ],
  "security": [],
  "externalDocs": {
    "description": "Find out how to create a GitHub repo for your OpenAPI definition.",
    "url": "https://github.com/Rebilly/generator-openapi-repo"
  },
  "paths": {
    "/v3/court/:id/nextLevels": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Next levels of Court Venue",
        "description": "**List next levels of informed Court Venue**",
        "operationId": "v3-court-id-nextLevels-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/QuantityLevels"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "**The unique identifier of the item to fetch the children**",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/:id/hierarchy": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "List full hierarchy",
        "description": "**List full hierarchy by court venue identifier**",
        "operationId": "v3-court-id-hierarchy-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/:id/formattedHierarchy": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Formatted hierarchy",
        "description": "**Return the formatted hierarchy**",
        "operationId": "v3-court-id-formattedHierarchy-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formattedHierarchy": {
                      "type": "string",
                      "description": "**The formatted hierarchy**"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/:id": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Get Court Venue by Id",
        "description": "**Retrieve a Court Venue by id**",
        "operationId": "v3-court-id-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForoEntity_v3"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/search_by_cnj": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Search Court Venue by CNJ",
        "description": "**Search Court Venue by CNJ**",
        "operationId": "v3-court-search_by_cnj-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "name": "cnj",
            "in": "query",
            "required": true,
            "description": "**The CNJ number to search**",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "description": "**The court venue level**",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Court Venue by level (paginated)",
        "description": "**Court Venue by level (paginated)**",
        "operationId": "v3-court-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "level",
            "in": "query",
            "required": true,
            "description": "**The level of the item to fetch**",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/search": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Search Court Venue (paginated)",
        "description": "**Search Court Venue (paginated)**",
        "operationId": "v3-court-search-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "**The search term**",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/:id/children": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Children by Court Venue id (paginated)",
        "description": "**Children by Court Venue id**",
        "operationId": "v3-court-id-children-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "**The court venue identifier**",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/children": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Children by Court Venue parent name (paginated)",
        "description": "**Children by Court Venue parent name (paginated)**",
        "operationId": "v3-court-children-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "parentName",
            "in": "query",
            "required": true,
            "description": "**The parent name to fetch the children**",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/court/list": {
      "get": {
        "tags": [
          "Court Venue"
        ],
        "summary": "Court Venue by ids (paginated)",
        "description": "**Court Venue by ids (paginated)**",
        "operationId": "v3-court-list-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "$ref": "#/components/parameters/AdjudicatingCourt"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "**The court venue ids**",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ForoEntity_v3"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/procedures": {
      "get": {
        "tags": [
          "Procedures"
        ],
        "summary": "Procedures by filter",
        "description": "**Procedures by filter**<br/>\n`At least one of these parameters are required: nodeId, procedureId or procedureName`\n",
        "operationId": "v3-procedures-get",
        "parameters": [
          {
            "$ref": "#/components/parameters/OcpApimSubscriptionKey"
          },
          {
            "name": "nodeId",
            "in": "query",
            "required": false,
            "description": "**The court venue identifier**",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "procedureId",
            "in": "query",
            "required": false,
            "description": "**The procedure identifier**",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "procedureName",
            "in": "query",
            "required": false,
            "description": "**The procedure name**",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcedureV3"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SCIMError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OcpApimSubscriptionKey": {
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header",
        "description": "**Subscription key provided by Looplex**",
        "example": "{{Ocp-Apim-Subscription-Key}}",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "AdjudicatingCourt": {
        "name": "isAdjudicatingCourt",
        "in": "query",
        "required": false,
        "description": "**The filter to fetch only Adjudicating Court**<br/>\n`This filter only applies to LevelTitle \"Vara\"`\n",
        "schema": {
          "type": "boolean"
        }
      },
      "QuantityLevels": {
        "name": "quantityLevels",
        "in": "query",
        "required": false,
        "description": "**The quantity of levels to return**<br/>`Default: 2`",
        "schema": {
          "type": "integer"
        }
      },
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "**The item's unique identifier**",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "**The page to search.** `Default: 1`",
        "schema": {
          "type": "integer"
        }
      },
      "PerPage": {
        "name": "perPage",
        "in": "query",
        "required": false,
        "description": "**The quantity of items to fetch in this page.** `Default: 10`",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "ListResponse": {
        "title": "Scim",
        "type": "object",
        "properties": {
          "totalResults": {
            "description": "**Total count of items in the filter**",
            "type": "integer",
            "example": 100
          },
          "startIndex": {
            "description": "**Index of search**",
            "type": "integer",
            "example": 1
          },
          "itemsPerPage": {
            "description": "**Total count of items to return**",
            "type": "integer",
            "example": 12
          }
        }
      },
      "MetaRetrieve": {
        "title": "Meta",
        "type": "object",
        "description": "**Resource's metadata**",
        "properties": {
          "resourceType": {
            "type": "string",
            "description": "**The resource type**<br />\ne.g. Case, Task, Entry, etc.\n",
            "example": "<tipo_do_recurso>"
          },
          "created": {
            "type": "string <nullable>",
            "format": "datetime",
            "example": "<data_de_criacao_do_recurso>",
            "description": "**The resource creation date**"
          },
          "lastModified": {
            "type": "string <nullable>",
            "format": "datetime",
            "example": "<data_de_atualizacao_do_recurso>",
            "description": "**The resource last update time**"
          },
          "location": {
            "type": "string <nullable>",
            "example": "<local_do_recurso>",
            "description": "**The resource url**"
          },
          "version": {
            "type": "string",
            "example": "<versao_do_recurso>",
            "description": "**The resource version**"
          }
        }
      },
      "ResourceRetrieve": {
        "title": "Resource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "**Object unique identifier**",
            "example": "<global_unique_identifier>"
          },
          "externalId": {
            "example": "<external_id>",
            "type": "string <nullable>",
            "description": "**External identifier**"
          },
          "meta": {
            "description": "**Entity's information**",
            "$ref": "#/components/schemas/MetaRetrieve"
          }
        }
      },
      "Status": {
        "title": "Status",
        "type": "string",
        "example": "<status>",
        "description": "**Court Venue status**<br/>\ninactive<br/>\nactive\n"
      },
      "RamosJudicial": {
        "title": "RamosJudicial",
        "type": "string",
        "example": "<ramo_judicial_do_processo>",
        "description": "**Indicação do tipo de caso, define o tipo de justiça ou o tipo de transação jurídica**<br />\nADMINISTRATIVO<br />\nCONSULTIVO<br />\nJUDICIAL_ESTADUAL<br />\nJUDICIAL_FEDERAL<br />\nJUDICIAL_TRABALHISTA<br />\nMILITAR_ESTADUAL<br />\nELEITORAL<br />\nMILITAR_UNIAO<br />\nCONTRATO<br />\nDUE_DILIGENCE_E_ANALISE_DOCUMENTAL<br />\nCOBRANCA_EXTRAJUDICIAL<br />\nSOCIETARIO<br />\nARBITRAGEM\n"
      },
      "ForoEntity_v3": {
        "title": "Foro v3",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceRetrieve"
          },
          {
            "properties": {
              "status": {
                "$ref": "#/components/schemas/Status"
              },
              "level": {
                "type": "integer",
                "description": "**The level of this item**"
              },
              "levelTitle": {
                "type": "string",
                "description": "**Indicate this item's title level**",
                "example": "<level_title>"
              },
              "order": {
                "type": "string",
                "description": "**The order of this item in the list**",
                "example": "<order>"
              },
              "title": {
                "type": "string",
                "description": "**This item's title**",
                "example": "<title>"
              },
              "caseType": {
                "$ref": "#/components/schemas/RamosJudicial"
              },
              "customFields": {
                "type": "object",
                "description": "**This item's custom fields**"
              },
              "children": {
                "type": "array",
                "description": "**This item's children**<br/>\n_Foro v3 is the main object of this response_ (Recursive)\n",
                "items": {
                  "$ref": "#/components/schemas/ForoEntity_v3"
                }
              }
            }
          }
        ]
      },
      "SCIMtypeError": {
        "title": "SCIM Type error",
        "type": "string <nullable>",
        "example": "invalidFilter",
        "description": "**The type of SCIM error if request is GET, otherwise null**<br/>\ninvalidFilter<br/>\ntooMany<br/>\nuniqueness<br/>\nmutability<br/>\ninvalidSyntax<br/>\ninvalidPath<br/>\nnoTarget<br/>\ninvalidValue<br/>\ninvalidVers<br/>\nsensitive\n"
      },
      "SCIMError": {
        "title": "SCIM Error",
        "type": "object",
        "properties": {
          "scimType": {
            "$ref": "#/components/schemas/SCIMtypeError"
          },
          "detail": {
            "type": "string",
            "description": "**The error message**",
            "example": "<exception_message>"
          },
          "status": {
            "type": "string",
            "description": "**The HTTP Status Code error name**",
            "example": "InternalServerError"
          }
        }
      },
      "ProcedureV3": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "**The group name**",
            "example": "<group_name>"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "**The group identifier**",
            "example": "<global_unique_identifier>"
          },
          "depth": {
            "type": "integer",
            "example": 1,
            "description": "**Depth of this item**"
          },
          "depthName": {
            "type": "string",
            "example": "Group",
            "description": "**Depth name of this item**"
          },
          "children": {
            "type": "array",
            "description": "**The list of subgroups**",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "**The subgroup name**",
                  "example": "<subgroup_name>"
                },
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "**The subgroup identifier**",
                  "example": "<global_unique_identifier>"
                },
                "depth": {
                  "type": "integer",
                  "example": 2,
                  "description": "**Depth of this item**"
                },
                "depthName": {
                  "type": "string",
                  "example": "Subgroup",
                  "description": "**Depth name of this item**"
                },
                "children": {
                  "type": "array",
                  "description": "**The list of procedures**",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "**The procedure name**",
                        "example": "<procedure_name>"
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "**The procedure identifier**",
                        "example": "<global_unique_identifier>"
                      },
                      "depth": {
                        "type": "integer",
                        "example": 3,
                        "description": "**Depth of this item**"
                      },
                      "depthName": {
                        "type": "string",
                        "example": "Procedure",
                        "description": "**Depth name of this item**"
                      },
                      "cnjCode": {
                        "type": "string",
                        "description": "**The CNJ code**",
                        "example": "<cnj_code>"
                      },
                      "customFields": {
                        "type": "object",
                        "description": "**Custom fields for this item**"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}