openapi: 3.1.1
info:
  version: 1.0.0
  title: Actions
  termsOfService: https://docs.looplex.com.br/legal/termos-de-uso
  contact:
    name: Developers Looplex
    email: developer@looplex.com.br
    url: https://www.looplex.com.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: "https://www.looplex.com.br/img/logo-default.png"
    href: /
  description: >
    Actions is the group of APIs consumed by the templates, related to document
    flows.
tags:
  - name: Operations
    description: >-
      Actions is the group of APIs consumed by the templates, related to
      document flows.
    x-displayName: Operations
  - name: Code
    description: Code operations
    x-displayName: Code
  - name: TinyURL
    description: TinyURL Operations
    x-displayName: TinyURL
  - name: JWT
    description: JWT Operations
    x-displayName: JWT
  - name: Autenticação
    x-displayName: Autenticação
  - name: Andamento
    x-displayName: Andamento
  - name: Area
    x-displayName: Area
  - name: Busca
    x-displayName: Busca
  - name: Calculo Monetário
    x-displayName: Calculo Monetário
  - name: Casos
    x-displayName: Casos
  - name: Fase do caso
    x-displayName: Fase do caso
  - name: Categoria
    x-displayName: Categoria
  - name: Cliente
    x-displayName: Cliente
  - name: Contato
    x-displayName: Contato
  - name: Contrato
    x-displayName: Contrato
  - name: Cumprimentos
    x-displayName: Cumprimentos
  - name: Decisões
    x-displayName: Decisões
  - name: Despesas
    x-displayName: Despesas
  - name: Expectativa reivindicação
    x-displayName: Expectativa reivindicação
  - name: Funcionário
    x-displayName: Funcionário
  - name: Garantia
    x-displayName: Garantia
  - name: Hierarquia
    x-displayName: Hierarquia
  - name: Informações adicionais
    x-displayName: Informações adicionais
  - name: Informações adicionais (valor)
    x-displayName: Informações adicionais (valor)
  - name: LiabilitiesCalculation
    x-displayName: LiabilitiesCalculation
  - name: Motivo de pedir
    x-displayName: Motivo de pedir
  - name: Natureza
    x-displayName: Natureza
  - name: País
    x-displayName: País
  - name: Partes
    x-displayName: Partes
  - name: Pedidos
    x-displayName: Pedidos
  - name: Produtos
    x-displayName: Produtos
  - name: Push
    x-displayName: Push
  - name: Tabela de preço
    x-displayName: Tabela de preço
  - name: Tabela preço categoria
    x-displayName: Tabela preço categoria
  - name: Tarefa
    x-displayName: Tarefa
  - name: Timeline
    x-displayName: Timeline
  - name: Timesheet
    x-displayName: Timesheet
  - name: Valores apurados
    x-displayName: Valores apurados
  - name: Varas e Foros
    x-displayName: Varas e Foros
  - name: Ritos
    x-displayName: Ritos
x-tagGroups:
  - name: actions
    tags:
      - Operations
      - Code
      - TinyURL
      - JWT
    description: >
      Actions is the group of APIs consumed by the templates, related to
      document flows.
  - name: cases
    tags:
      - Autenticação
      - Andamento
      - Area
      - Busca
      - Calculo Monetário
      - Casos
      - Fase do caso
      - Categoria
      - Cliente
      - Contato
      - Contrato
      - Cumprimentos
      - Decisões
      - Despesas
      - Expectativa reivindicação
      - Funcionário
      - Garantia
      - Hierarquia
      - Informações adicionais
      - Informações adicionais (valor)
      - LiabilitiesCalculation
      - Motivo de pedir
      - Natureza
      - País
      - Partes
      - Pedidos
      - Produtos
      - Push
      - Tabela de preço
      - Tabela preço categoria
      - Tarefa
      - Timeline
      - Timesheet
      - Valores apurados
  - name: varas_foros
    tags:
      - Court Venue
      - Ritos
servers:
  - url: https://apim.looplex.com/actions/v1
    description: Actions Server
  - url: https://apim.looplex.com/cases
    description: Cases Server
  - url: https://apim.looplex.com/varas_foros
    description: Varas e Foros Server
paths:
  /aspose:
    post:
      tags:
        - Operations
      summary: Aspose
      description: >-
        REST APIs to create, manipulate or convert different file formats. API
        supports rendering documents to images through any platform and any
        language. Please check https://apireference.aspose.cloud/
      operationId: aspose
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aspose'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message:
                    SystemFonts:
                      - FontFamilyName: Century Gothic
                        FullFontName: Century Gothic
                        Version: Version 2.35
                        FilePath: C:\Windows\Fonts\11528.ttf
                      - FontFamilyName: Arial Narrow
                        FullFontName: Arial Narrow Italic
                        Version: Version 2.30
                        FilePath: C:\Windows\Fonts\Arial Narrow.ttf
                      - FontFamilyName: Arial
                        FullFontName: Arial
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\arial.ttf
                      - FontFamilyName: Arial
                        FullFontName: Arial Bold
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\arialbd.ttf
                      - FontFamilyName: Arial
                        FullFontName: Arial Bold Italic
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\arialbi.ttf
                      - FontFamilyName: Arial
                        FullFontName: Arial Italic
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\ariali.ttf
                      - FontFamilyName: Arial Narrow
                        FullFontName: Arial Narrow
                        Version: Version 2.37
                        FilePath: C:\Windows\Fonts\Arialn.ttf
                      - FontFamilyName: Arial Narrow
                        FullFontName: Arial Narrow
                        Version: Version 2.30
                        FilePath: C:\Windows\Fonts\ArialNarrow2.ttf
                      - FontFamilyName: Arial Narrow
                        FullFontName: Arial Narrow Bold
                        Version: Version 1.01
                        FilePath: C:\Windows\Fonts\ARIALNB.TTF
                      - FontFamilyName: Arial Narrow
                        FullFontName: Arial Narrow Bold Italic
                        Version: Version 1.01
                        FilePath: C:\Windows\Fonts\ARIALNBI.TTF
                      - FontFamilyName: Arial Narrow
                        FullFontName: Arial Narrow Italic
                        Version: Version 2.37
                        FilePath: C:\Windows\Fonts\ARIALNI.TTF
                      - FontFamilyName: Arial Unicode MS
                        FullFontName: Arial Unicode MS
                        Version: Version 1.01
                        FilePath: C:\Windows\Fonts\ARIALUNI.TTF
                      - FontFamilyName: Arial Black
                        FullFontName: Arial Black
                        Version: Version 5.22
                        FilePath: C:\Windows\Fonts\ariblk.ttf
                      - FontFamilyName: Batang
                        FullFontName: Batang
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\batang.ttc
                      - FontFamilyName: BatangChe
                        FullFontName: BatangChe
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\batang.ttc
                      - FontFamilyName: Gungsuh
                        FullFontName: Gungsuh
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\batang.ttc
                      - FontFamilyName: GungsuhChe
                        FullFontName: GungsuhChe
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\batang.ttc
                      - FontFamilyName: Calibri
                        FullFontName: Calibri
                        Version: Version 6.18
                        FilePath: C:\Windows\Fonts\calibri.ttf
                      - FontFamilyName: Calibri
                        FullFontName: Calibri Bold
                        Version: Version 6.18
                        FilePath: C:\Windows\Fonts\calibrib.ttf
                      - FontFamilyName: Calibri
                        FullFontName: Calibri Italic
                        Version: Version 6.18
                        FilePath: C:\Windows\Fonts\calibrii.ttf
                      - FontFamilyName: Calibri Light
                        FullFontName: Calibri Light
                        Version: Version 6.18
                        FilePath: C:\Windows\Fonts\calibril.ttf
                      - FontFamilyName: Calibri Light
                        FullFontName: Calibri Light Italic
                        Version: Version 6.18
                        FilePath: C:\Windows\Fonts\calibrili.ttf
                      - FontFamilyName: Calibri
                        FullFontName: Calibri Bold Italic
                        Version: Version 6.18
                        FilePath: C:\Windows\Fonts\calibriz.ttf
                      - FontFamilyName: Cambria
                        FullFontName: Cambria
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\cambria.ttc
                      - FontFamilyName: Cambria Math
                        FullFontName: Cambria Math
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\cambria.ttc
                      - FontFamilyName: Comic Sans MS
                        FullFontName: Comic Sans MS
                        Version: Version 5.12
                        FilePath: C:\Windows\Fonts\comic.ttf
                      - FontFamilyName: Comic Sans MS
                        FullFontName: Comic Sans MS Bold
                        Version: Version 5.12
                        FilePath: C:\Windows\Fonts\comicbd.ttf
                      - FontFamilyName: Comic Sans MS
                        FullFontName: Comic Sans MS Italic
                        Version: Version 5.12
                        FilePath: C:\Windows\Fonts\comici.ttf
                      - FontFamilyName: Comic Sans MS
                        FullFontName: Comic Sans MS Bold Italic
                        Version: Version 5.12
                        FilePath: C:\Windows\Fonts\comicz.ttf
                      - FontFamilyName: Consolas
                        FullFontName: Consolas
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\consola.ttf
                      - FontFamilyName: Consolas
                        FullFontName: Consolas Bold
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\consolab.ttf
                      - FontFamilyName: Consolas
                        FullFontName: Consolas Italic
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\consolai.ttf
                      - FontFamilyName: Consolas
                        FullFontName: Consolas Bold Italic
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\consolaz.ttf
                      - FontFamilyName: Courier New
                        FullFontName: Courier New
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\cour.ttf
                      - FontFamilyName: Courier New
                        FullFontName: Courier New Bold
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\courbd.ttf
                      - FontFamilyName: Courier New
                        FullFontName: Courier New Bold Italic
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\courbi.ttf
                      - FontFamilyName: Courier New
                        FullFontName: Courier New Italic
                        Version: Version 6.90
                        FilePath: C:\Windows\Fonts\couri.ttf
                      - FontFamilyName: Ebrima
                        FullFontName: Ebrima
                        Version: Version 5.11
                        FilePath: C:\Windows\Fonts\ebrima.ttf
                      - FontFamilyName: Ebrima
                        FullFontName: Ebrima Bold
                        Version: Version 5.11
                        FilePath: C:\Windows\Fonts\ebrimabd.ttf
                      - FontFamilyName: Freestyle Script
                        FullFontName: Freestyle Script
                        Version: Version 1.05
                        FilePath: C:\Windows\Fonts\FREESCPT.TTF
                      - FontFamilyName: Gadugi
                        FullFontName: Gadugi
                        Version: Version 1.10
                        FilePath: C:\Windows\Fonts\gadugi.ttf
                      - FontFamilyName: Garamond
                        FullFontName: Garamond
                        Version: Version 2.20
                        FilePath: C:\Windows\Fonts\Garamond.ttf
                      - FontFamilyName: Georgia
                        FullFontName: Georgia
                        Version: Version 5.58
                        FilePath: C:\Windows\Fonts\georgia.ttf
                      - FontFamilyName: Georgia
                        FullFontName: Georgia Bold
                        Version: Version 5.58
                        FilePath: C:\Windows\Fonts\georgiab.ttf
                      - FontFamilyName: Georgia
                        FullFontName: Georgia Italic
                        Version: Version 5.58
                        FilePath: C:\Windows\Fonts\georgiai.ttf
                      - FontFamilyName: Georgia
                        FullFontName: Georgia Bold Italic
                        Version: Version 5.58
                        FilePath: C:\Windows\Fonts\georgiaz.ttf
                      - FontFamilyName: Gulim
                        FullFontName: Gulim
                        Version: Version 5.02
                        FilePath: C:\Windows\Fonts\gulim.ttc
                      - FontFamilyName: GulimChe
                        FullFontName: GulimChe
                        Version: Version 5.02
                        FilePath: C:\Windows\Fonts\gulim.ttc
                      - FontFamilyName: Dotum
                        FullFontName: Dotum
                        Version: Version 5.02
                        FilePath: C:\Windows\Fonts\gulim.ttc
                      - FontFamilyName: DotumChe
                        FullFontName: DotumChe
                        Version: Version 5.02
                        FilePath: C:\Windows\Fonts\gulim.ttc
                      - FontFamilyName: Microsoft Himalaya
                        FullFontName: Microsoft Himalaya
                        Version: Version 5.22
                        FilePath: C:\Windows\Fonts\himalaya.ttf
                      - FontFamilyName: Edwardian Script ITC
                        FullFontName: Edwardian Script ITC
                        Version: Version 1.05
                        FilePath: C:\Windows\Fonts\ITCEDSCR.TTF
                      - FontFamilyName: Javanese Text
                        FullFontName: Javanese Text
                        Version: Version 1.07
                        FilePath: C:\Windows\Fonts\javatext.ttf
                      - FontFamilyName: Leelawadee UI
                        FullFontName: Leelawadee UI Bold
                        Version: Version 5.05
                        FilePath: C:\Windows\Fonts\LeelaUIb.ttf
                      - FontFamilyName: Leelawadee UI
                        FullFontName: Leelawadee UI
                        Version: Version 5.05
                        FilePath: C:\Windows\Fonts\LeelawUI.ttf
                      - FontFamilyName: Leelawadee UI Semilight
                        FullFontName: Leelawadee UI Semilight
                        Version: Version 5.05
                        FilePath: C:\Windows\Fonts\LeelUIsl.ttf
                      - FontFamilyName: Lucida Console
                        FullFontName: Lucida Console
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\lucon.ttf
                      - FontFamilyName: Malgun Gothic
                        FullFontName: Malgun Gothic
                        Version: Version 6.67
                        FilePath: C:\Windows\Fonts\malgun.ttf
                      - FontFamilyName: Myanmar Text
                        FullFontName: Myanmar Text
                        Version: Version 1.15
                        FilePath: C:\Windows\Fonts\mmrtext.ttf
                      - FontFamilyName: Mongolian Baiti
                        FullFontName: Mongolian Baiti
                        Version: Version 5.52
                        FilePath: C:\Windows\Fonts\monbaiti.ttf
                      - FontFamilyName: Microsoft JhengHei
                        FullFontName: Microsoft JhengHei
                        Version: Version 6.13
                        FilePath: C:\Windows\Fonts\msjh.ttc
                      - FontFamilyName: Microsoft JhengHei UI
                        FullFontName: Microsoft JhengHei UI
                        Version: Version 6.13
                        FilePath: C:\Windows\Fonts\msjh.ttc
                      - FontFamilyName: Microsoft YaHei
                        FullFontName: Microsoft YaHei
                        Version: Version 6.22
                        FilePath: C:\Windows\Fonts\msyh.ttc
                      - FontFamilyName: Microsoft YaHei UI
                        FullFontName: Microsoft YaHei UI
                        Version: Version 6.22
                        FilePath: C:\Windows\Fonts\msyh.ttc
                      - FontFamilyName: Microsoft Yi Baiti
                        FullFontName: Microsoft Yi Baiti
                        Version: Version 5.99
                        FilePath: C:\Windows\Fonts\msyi.ttf
                      - FontFamilyName: MV Boli
                        FullFontName: MV Boli
                        Version: Version 6.84
                        FilePath: C:\Windows\Fonts\mvboli.ttf
                      - FontFamilyName: Nirmala UI
                        FullFontName: Nirmala UI
                        Version: Version 1.34
                        FilePath: C:\Windows\Fonts\Nirmala.ttf
                      - FontFamilyName: Nirmala UI
                        FullFontName: Nirmala UI Bold
                        Version: Version 1.34
                        FilePath: C:\Windows\Fonts\NirmalaB.ttf
                      - FontFamilyName: Nirmala UI Semilight
                        FullFontName: Nirmala UI Semilight
                        Version: Version 1.34
                        FilePath: C:\Windows\Fonts\NirmalaS.ttf
                      - FontFamilyName: Microsoft New Tai Lue
                        FullFontName: Microsoft New Tai Lue
                        Version: Version 5.98
                        FilePath: C:\Windows\Fonts\ntailu.ttf
                      - FontFamilyName: Microsoft PhagsPa
                        FullFontName: Microsoft PhagsPa
                        Version: Version 5.99
                        FilePath: C:\Windows\Fonts\phagspa.ttf
                      - FontFamilyName: Segoe MDL2 Assets
                        FullFontName: Segoe MDL2 Assets
                        Version: Version 1.55
                        FilePath: C:\Windows\Fonts\segmdl2.ttf
                      - FontFamilyName: Segoe Print
                        FullFontName: Segoe Print
                        Version: Version 5.02
                        FilePath: C:\Windows\Fonts\segoepr.ttf
                      - FontFamilyName: Segoe UI
                        FullFontName: Segoe UI
                        Version: Version 5.53
                        FilePath: C:\Windows\Fonts\segoeui.ttf
                      - FontFamilyName: Segoe UI
                        FullFontName: Segoe UI Bold
                        Version: Version 5.53
                        FilePath: C:\Windows\Fonts\segoeuib.ttf
                      - FontFamilyName: Segoe UI
                        FullFontName: Segoe UI Italic
                        Version: Version 5.29
                        FilePath: C:\Windows\Fonts\segoeuii.ttf
                      - FontFamilyName: Segoe UI Light
                        FullFontName: Segoe UI Light
                        Version: Version 5.53
                        FilePath: C:\Windows\Fonts\segoeuil.ttf
                      - FontFamilyName: Segoe UI Semilight
                        FullFontName: Segoe UI Semilight
                        Version: Version 5.53
                        FilePath: C:\Windows\Fonts\segoeuisl.ttf
                      - FontFamilyName: Segoe UI
                        FullFontName: Segoe UI Bold Italic
                        Version: Version 5.29
                        FilePath: C:\Windows\Fonts\segoeuiz.ttf
                      - FontFamilyName: Segoe UI Black
                        FullFontName: Segoe UI Black
                        Version: Version 2.00
                        FilePath: C:\Windows\Fonts\seguibl.ttf
                      - FontFamilyName: Segoe UI Emoji
                        FullFontName: Segoe UI Emoji
                        Version: Version 1.11
                        FilePath: C:\Windows\Fonts\seguiemj.ttf
                      - FontFamilyName: Segoe UI Historic
                        FullFontName: Segoe UI Historic
                        Version: Version 1.01
                        FilePath: C:\Windows\Fonts\seguihis.ttf
                      - FontFamilyName: Segoe UI Semibold
                        FullFontName: Segoe UI Semibold
                        Version: Version 5.53
                        FilePath: C:\Windows\Fonts\seguisb.ttf
                      - FontFamilyName: Segoe UI Symbol
                        FullFontName: Segoe UI Symbol
                        Version: Version 6.22
                        FilePath: C:\Windows\Fonts\seguisym.ttf
                      - FontFamilyName: SimSun
                        FullFontName: SimSun
                        Version: Version 5.15
                        FilePath: C:\Windows\Fonts\simsun.ttc
                      - FontFamilyName: NSimSun
                        FullFontName: NSimSun
                        Version: Version 5.15
                        FilePath: C:\Windows\Fonts\simsun.ttc
                      - FontFamilyName: Source Code Pro Black
                        FullFontName: Source Code Pro Black
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-Black.otf
                      - FontFamilyName: Source Code Pro Black
                        FullFontName: Source Code Pro Black Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-BlackIt.otf
                      - FontFamilyName: Source Code Pro
                        FullFontName: Source Code Pro Bold
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-Bold.otf
                      - FontFamilyName: Source Code Pro
                        FullFontName: Source Code Pro Bold Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-BoldIt.otf
                      - FontFamilyName: Source Code Pro ExtraLight
                        FullFontName: Source Code Pro ExtraLight
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-ExtraLight.otf
                      - FontFamilyName: Source Code Pro ExtraLight
                        FullFontName: Source Code Pro ExtraLight Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-ExtraLightIt.otf
                      - FontFamilyName: Source Code Pro
                        FullFontName: Source Code Pro Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-It.otf
                      - FontFamilyName: Source Code Pro Light
                        FullFontName: Source Code Pro Light
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-Light.otf
                      - FontFamilyName: Source Code Pro Light
                        FullFontName: Source Code Pro Light Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-LightIt.otf
                      - FontFamilyName: Source Code Pro Medium
                        FullFontName: Source Code Pro Medium
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-Medium.otf
                      - FontFamilyName: Source Code Pro Medium
                        FullFontName: Source Code Pro Medium Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-MediumIt.otf
                      - FontFamilyName: Source Code Pro
                        FullFontName: Source Code Pro
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-Regular.otf
                      - FontFamilyName: Source Code Pro Semibold
                        FullFontName: Source Code Pro Semibold
                        Version: >-
                          Version 2.010;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-Semibold.otf
                      - FontFamilyName: Source Code Pro Semibold
                        FullFontName: Source Code Pro Semibold Italic
                        Version: >-
                          Version 1.030;PS 1.0;hotconv
                          1.0.84;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceCodePro-SemiboldIt.otf
                      - FontFamilyName: Source Sans Pro Black
                        FullFontName: Source Sans Pro Black
                        Version: >-
                          Version 2.020;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-Black.otf
                      - FontFamilyName: Source Sans Pro Black
                        FullFontName: Source Sans Pro Black Italic
                        Version: >-
                          Version 1.075;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-BlackIt.otf
                      - FontFamilyName: Source Sans Pro
                        FullFontName: Source Sans Pro Bold
                        Version: >-
                          Version 2.020;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-Bold.otf
                      - FontFamilyName: Source Sans Pro
                        FullFontName: Source Sans Pro Bold Italic
                        Version: >-
                          Version 1.075;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-BoldIt.otf
                      - FontFamilyName: Source Sans Pro ExtraLight
                        FullFontName: Source Sans Pro ExtraLight
                        Version: >-
                          Version 2.020;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-ExtraLight.otf
                      - FontFamilyName: Source Sans Pro ExtraLight
                        FullFontName: Source Sans Pro ExtraLight Italic
                        Version: >-
                          Version 1.075;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-ExtraLightIt.otf
                      - FontFamilyName: Source Sans Pro
                        FullFontName: Source Sans Pro Italic
                        Version: >-
                          Version 1.075;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-It.otf
                      - FontFamilyName: Source Sans Pro Light
                        FullFontName: Source Sans Pro Light
                        Version: >-
                          Version 2.020;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-Light.otf
                      - FontFamilyName: Source Sans Pro Light
                        FullFontName: Source Sans Pro Light Italic
                        Version: >-
                          Version 1.075;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-LightIt.otf
                      - FontFamilyName: Source Sans Pro
                        FullFontName: Source Sans Pro
                        Version: >-
                          Version 2.020;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-Regular.otf
                      - FontFamilyName: Source Sans Pro Semibold
                        FullFontName: Source Sans Pro Semibold
                        Version: >-
                          Version 2.020;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-Semibold.otf
                      - FontFamilyName: Source Sans Pro Semibold
                        FullFontName: Source Sans Pro Semibold Italic
                        Version: >-
                          Version 1.075;PS 2.0;hotconv
                          1.0.86;makeotf.lib2.5.63406
                        FilePath: C:\Windows\Fonts\SourceSansPro-SemiboldIt.otf
                      - FontFamilyName: Symbol
                        FullFontName: Symbol
                        Version: Version 5.01
                        FilePath: C:\Windows\Fonts\symbol.ttf
                      - FontFamilyName: Microsoft Tai Le
                        FullFontName: Microsoft Tai Le
                        Version: Version 5.98
                        FilePath: C:\Windows\Fonts\taile.ttf
                      - FontFamilyName: Times New Roman
                        FullFontName: Times New Roman
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\times.ttf
                      - FontFamilyName: Times New Roman
                        FullFontName: Times New Roman Bold
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\timesbd.ttf
                      - FontFamilyName: Times New Roman
                        FullFontName: Times New Roman Bold Italic
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\timesbi.ttf
                      - FontFamilyName: Times New Roman
                        FullFontName: Times New Roman Italic
                        Version: Version 6.96
                        FilePath: C:\Windows\Fonts\timesi.ttf
                      - FontFamilyName: Trebuchet MS
                        FullFontName: Trebuchet MS
                        Version: Version 5.14
                        FilePath: C:\Windows\Fonts\trebuc.ttf
                      - FontFamilyName: Trebuchet MS
                        FullFontName: Trebuchet MS Bold
                        Version: Version 5.14
                        FilePath: C:\Windows\Fonts\trebucbd.ttf
                      - FontFamilyName: Trebuchet MS
                        FullFontName: Trebuchet MS Bold Italic
                        Version: Version 5.14
                        FilePath: C:\Windows\Fonts\trebucbi.ttf
                      - FontFamilyName: Trebuchet MS
                        FullFontName: Trebuchet MS Italic
                        Version: Version 5.14
                        FilePath: C:\Windows\Fonts\trebucit.ttf
                      - FontFamilyName: Verdana
                        FullFontName: Verdana
                        Version: Version 5.32
                        FilePath: C:\Windows\Fonts\verdana.ttf
                      - FontFamilyName: Verdana
                        FullFontName: Verdana Bold
                        Version: Version 5.32
                        FilePath: C:\Windows\Fonts\verdanab.ttf
                      - FontFamilyName: Verdana
                        FullFontName: Verdana Italic
                        Version: Version 5.32
                        FilePath: C:\Windows\Fonts\verdanai.ttf
                      - FontFamilyName: Verdana
                        FullFontName: Verdana Bold Italic
                        Version: Version 5.32
                        FilePath: C:\Windows\Fonts\verdanaz.ttf
                      - FontFamilyName: Webdings
                        FullFontName: Webdings
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\webdings.ttf
                      - FontFamilyName: Wingdings
                        FullFontName: Wingdings
                        Version: Version 5.00
                        FilePath: C:\Windows\Fonts\wingding.ttf
                      - FontFamilyName: Wingdings 3
                        FullFontName: Wingdings 3
                        Version: Version 1.50
                        FilePath: C:\Windows\Fonts\Wingdings3.ttf
                      - FontFamilyName: Yu Gothic Medium
                        FullFontName: Yu Gothic Medium
                        Version: Version 1.75
                        FilePath: C:\Windows\Fonts\YuGothM.ttc
                      - FontFamilyName: Yu Gothic UI
                        FullFontName: Yu Gothic UI Regular
                        Version: Version 1.75
                        FilePath: C:\Windows\Fonts\YuGothM.ttc
                    AdditionalFonts: []
                    CustomFonts:
                      - FontFamilyName: Open Sans
                        FullFontName: Open Sans Bold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans
                        FullFontName: Open Sans Bold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans ExtraBold
                        FullFontName: Open Sans ExtraBold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans ExtraBold
                        FullFontName: Open Sans ExtraBold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans
                        FullFontName: Open Sans Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans
                        FullFontName: Open Sans Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Light
                        FullFontName: Open Sans Light
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Light
                        FullFontName: Open Sans Light Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Medium
                        FullFontName: Open Sans Medium
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Medium
                        FullFontName: Open Sans Medium Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans
                        FullFontName: Open Sans Regular
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiBold
                        FullFontName: Open Sans SemiBold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiBold
                        FullFontName: Open Sans SemiBold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans
                        FullFontName: Open Sans Regular
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed
                        FullFontName: Open Sans Condensed Bold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed
                        FullFontName: Open Sans Condensed Bold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed ExtraBold
                        FullFontName: Open Sans Condensed ExtraBold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed ExtraBold
                        FullFontName: Open Sans Condensed ExtraBold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed
                        FullFontName: Open Sans Condensed Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed Light
                        FullFontName: Open Sans Condensed Light
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed Light
                        FullFontName: Open Sans Condensed Light Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed Medium
                        FullFontName: Open Sans Condensed Medium
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed Medium
                        FullFontName: Open Sans Condensed Medium Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed
                        FullFontName: Open Sans Condensed Regular
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed SemiBold
                        FullFontName: Open Sans Condensed SemiBold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans Condensed SemiBold
                        FullFontName: Open Sans Condensed SemiBold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed
                        FullFontName: Open Sans SemiCondensed Bold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed
                        FullFontName: Open Sans SemiCondensed Bold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed ExtraBold
                        FullFontName: Open Sans SemiCondensed ExtraBold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed ExtraBold
                        FullFontName: Open Sans SemiCondensed ExtraBold Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed
                        FullFontName: Open Sans SemiCondensed Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed Light
                        FullFontName: Open Sans SemiCondensed Light
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed Light
                        FullFontName: Open Sans SemiCondensed Light Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed Medium
                        FullFontName: Open Sans SemiCondensed Medium
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed Medium
                        FullFontName: Open Sans SemiCondensed Medium Italic
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed
                        FullFontName: Open Sans SemiCondensed Regular
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed SemiBold
                        FullFontName: Open Sans SemiCondensed SemiBold
                        Version: Version 3.000
                      - FontFamilyName: Open Sans SemiCondensed SemiBold
                        FullFontName: Open Sans SemiCondensed SemiBold Italic
                        Version: Version 3.000
                    RequestId: Root=1-638dfdb1-3da1e6d45e66258470888dad
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /code/:id:
    post:
      tags:
        - Code
      summary: Code
      description: ...
      operationId: postCodeOperation
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/code'
      responses:
        '200':
          description: OK
        '401':
          description: Access Denied
        '404':
          description: Not Found
      security:
        - Subscription-Key: []
    put:
      tags:
        - Code
      summary: Code
      description: ...
      operationId: putCodeOperation
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/code'
      responses:
        '200':
          description: OK
        '401':
          description: Access Denied
        '404':
          description: Not Found
      security:
        - Subscription-Key: []
    get:
      tags:
        - Code
      summary: Code
      description: ...
      operationId: getCodeOperation
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      responses:
        '200':
          description: OK
        '401':
          description: Access Denied
        '404':
          description: Not Found
      security:
        - Subscription-Key: []
    delete:
      tags:
        - Code
      summary: Code
      description: ...
      operationId: deleteCodeOperation
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      responses:
        '200':
          description: OK
        '401':
          description: Access Denied
        '404':
          description: Not Found
      security:
        - Subscription-Key: []
  /office-render:
    post:
      tags:
        - Operations
      summary: Office-render
      description: Generates a docx based on a template
      operationId: officeRender
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/office-render'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message: (base64 file)
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /dictionary-lookup:
    post:
      tags:
        - Operations
      summary: Dictionary Lookup
      description: Allows you to quickly look up definitions of words and phrases
      operationId: dictionary-lookup
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dictionary-lookup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message:
                    results:
                      - normalizedSource: sonora
                        displaySource: sonora
                        translations:
                          - normalizedTarget: sound
                            displayTarget: sound
                            posTag: ADJ
                            confidence: 0.3149
                            prefixWord: ''
                            backTranslations:
                              - normalizedText: som
                                displayText: som
                                numExamples: 15
                                frequencyCount: 28784
                              - normalizedText: parecer
                                displayText: parecer
                                numExamples: 15
                                frequencyCount: 3984
                              - normalizedText: soar
                                displayText: soar
                                numExamples: 15
                                frequencyCount: 2033
                              - normalizedText: sonoros
                                displayText: sonoros
                                numExamples: 0
                                frequencyCount: 1450
                              - normalizedText: soa
                                displayText: soa
                                numExamples: 15
                                frequencyCount: 1270
                              - normalizedText: sadio
                                displayText: sadio
                                numExamples: 3
                                frequencyCount: 1148
                              - normalizedText: barulho
                                displayText: barulho
                                numExamples: 15
                                frequencyCount: 632
                              - normalizedText: sonora
                                displayText: sonora
                                numExamples: 15
                                frequencyCount: 484
                          - normalizedTarget: sonorous
                            displayTarget: sonorous
                            posTag: ADJ
                            confidence: 0.2442
                            prefixWord: ''
                            backTranslations:
                              - normalizedText: sonora
                                displayText: sonora
                                numExamples: 0
                                frequencyCount: 23
                          - normalizedTarget: sonic
                            displayTarget: sonic
                            posTag: NOUN
                            confidence: 0.2112
                            prefixWord: ''
                            backTranslations:
                              - normalizedText: sonic
                                displayText: Sonic
                                numExamples: 5
                                frequencyCount: 1601
                              - normalizedText: sonora
                                displayText: sonora
                                numExamples: 1
                                frequencyCount: 135
                          - normalizedTarget: sonoran
                            displayTarget: Sonoran
                            posTag: NOUN
                            confidence: 0.1337
                            prefixWord: ''
                            backTranslations:
                              - normalizedText: sonoran
                                displayText: Sonoran
                                numExamples: 0
                                frequencyCount: 10
                              - normalizedText: sonora
                                displayText: sonora
                                numExamples: 4
                                frequencyCount: 4
                          - normalizedTarget: audible
                            displayTarget: audible
                            posTag: ADJ
                            confidence: 0.096
                            prefixWord: ''
                            backTranslations:
                              - normalizedText: audível
                                displayText: audível
                                numExamples: 5
                                frequencyCount: 311
                              - normalizedText: sonoro
                                displayText: sonoro
                                numExamples: 5
                                frequencyCount: 75
                              - normalizedText: sonora
                                displayText: sonora
                                numExamples: 0
                                frequencyCount: 13
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /echo:
    post:
      tags:
        - Operations
      summary: Echo
      description: Echo
      operationId: echo
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/echo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  cookies: {}
                  query: {}
                  body:
                    key: value
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /keyvault:
    get:
      tags:
        - Operations
      summary: Keyvault
      description: >-
        Allows you to retrieve secrets that were securely stored in the
        Microsoft Azure Key Vault
      operationId: keyvault
      parameters:
        - $ref: '#/components/parameters/keyvaultId'
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message:
                    CONNECTION_STRING: string de conexão para o servidor
                    sendmail:
                      service: Outlook
                      auth:
                        user: john.doe@looplex.com.br
                        pass: senha_super_segura
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /oauth2-pkce-pair:
    post:
      tags:
        - Operations
      summary: Oauth2-pkce-pair
      description: Authorization code grant with  Proof Key for Code Exchange (PKCE)
      operationId: oauth2-pkce-pair
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message:
                    code_verifier: >-
                      pfKIeSUbG1sCm2vQLLEWapT3t_P3VDW-WMza1Qy4B4SWIQx19OcSEcaX6C81bQuq2Rlisu5FOqKKsRojr1KGM_UJ8cHwIGQEm6RBG0YDK42q9rjrzgHuRGYRpZ3XQsO7
                    code_challenge: 9u9QDqMb/ZUoZd5ZrvwdDYAqA66OzteIG7mr0q/FwH4
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /qrcode:
    post:
      tags:
        - Operations
      summary: QrCode
      description: Creates a qrcode file based on a content
      operationId: qrcode
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/qrcode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message: (base64 file)
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /spellcheck:
    post:
      tags:
        - Operations
      summary: Spellcheck
      description: Searches for misspellings and suggests fixes
      operationId: spellcheck
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/spellcheck'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message:
                    flaggedTokens:
                      - offset: 15
                        token: acteon
                        type: UnknownToken
                        suggestions:
                          - suggestion: action
                            score: 0.7457185570229751
                      - offset: 22
                        token: move
                        type: UnknownToken
                        suggestions:
                          - suggestion: movie
                            score: 0.7457185570229751
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /mustache-render:
    post:
      tags:
        - Operations
      summary: Mustache-render
      description: Generates DOCX Renders
      operationId: mustacheRender
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mustache-render'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message: const urls = []
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                type: object
                example:
                  statusCode: 401
                  message: >-
                    Access denied due to missing subscription key. Make sure to
                    include subscription key when making requests to an API.
      security:
        - Subscription-Key: []
  /text-recognize:
    post:
      tags:
        - Operations
      summary: Text-recognize
      description: Recognizes text from a document
      operationId: textRecognize
      parameters:
        - $ref: '#/components/parameters/OcpApimSubscriptionKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/text-recognize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: SUCCESS
                  message:
                    - pageNumber: 1
                      textAngle: -0.2933
                      width: 8.2639
                      height: 11.6944
                      unit: inch
                      lines:
                        - kind: line
                          pageNumber: 1
                          text: >-
                            Para verificar a autenticidade, acesse
                            https://certidao.registrodeimoveis.org.br/validacao
                          boundingBox:
                            - x: 0.8745
                              'y': 0.299
                            - x: 4.656
                              'y': 0.299
                            - x: 4.656
                              'y': 0.392
                            - x: 0.8745
                              'y': 0.392
                          appearance:
                            styleName: other
                            styleConfidence: 1
                          words:
                            - kind: word
                              text: Para
                              boundingBox:
                                - x: 0.8745
                                  'y': 0.3009
                                - x: 1.069
                                  'y': 0.3009
                                - x: 1.069
                                  'y': 0.372
                                - x: 0.8745
                                  'y': 0.372
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: verificar
                              boundingBox:
                                - x: 1.0993
                                  'y': 0.2999
                                - x: 1.4387
                                  'y': 0.2999
                                - x: 1.4387
                                  'y': 0.372
                                - x: 1.0993
                                  'y': 0.372
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: a
                              boundingBox:
                                - x: 1.4693
                                  'y': 0.3184
                                - x: 1.5173
                                  'y': 0.3184
                                - x: 1.5173
                                  'y': 0.372
                                - x: 1.4693
                                  'y': 0.372
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: autenticidade,
                              boundingBox:
                                - x: 1.5504
                                  'y': 0.3009
                                - x: 2.1436
                                  'y': 0.3009
                                - x: 2.1436
                                  'y': 0.3849
                                - x: 1.5504
                                  'y': 0.3849
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: acesse
                              boundingBox:
                                - x: 2.1827
                                  'y': 0.3184
                                - x: 2.4833
                                  'y': 0.3184
                                - x: 2.4833
                                  'y': 0.372
                                - x: 2.1827
                                  'y': 0.372
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: >-
                                https://certidao.registrodeimoveis.org.br/validacao
                              boundingBox:
                                - x: 2.5206
                                  'y': 0.299
                                - x: 4.656
                                  'y': 0.299
                                - x: 4.656
                                  'y': 0.392
                                - x: 2.5206
                                  'y': 0.392
                              confidence: 1
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: >-
                            Informe o código:
                            FDDB5921-C009-4B9C-91D6-1C085A129138
                          boundingBox:
                            - x: 0.875
                              'y': 0.4171
                            - x: 3.6344
                              'y': 0.4171
                            - x: 3.6344
                              'y': 0.5101
                            - x: 0.875
                              'y': 0.5101
                          appearance:
                            styleName: other
                            styleConfidence: 1
                          words:
                            - kind: word
                              text: Informe
                              boundingBox:
                                - x: 0.875
                                  'y': 0.418
                                - x: 1.1918
                                  'y': 0.418
                                - x: 1.1918
                                  'y': 0.4901
                                - x: 0.875
                                  'y': 0.4901
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: o
                              boundingBox:
                                - x: 1.2262
                                  'y': 0.4365
                                - x: 1.2734
                                  'y': 0.4365
                                - x: 1.2734
                                  'y': 0.49
                                - x: 1.2262
                                  'y': 0.49
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: 'código:'
                              boundingBox:
                                - x: 1.3077
                                  'y': 0.4174
                                - x: 1.6088
                                  'y': 0.4174
                                - x: 1.6088
                                  'y': 0.5101
                                - x: 1.3077
                                  'y': 0.5101
                              confidence: 1
                              pageNumber: 1
                            - kind: word
                              text: FDDB5921-C009-4B9C-91D6-1C085A129138
                              boundingBox:
                                - x: 1.6527
                                  'y': 0.4171
                                - x: 3.6344
                                  'y': 0.4171
                                - x: 3.6344
                                  'y': 0.4905
                                - x: 1.6527
                                  'y': 0.4905
                              confidence: 1
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: 7º OFÍCIO DO REGISTRO DE IMÓVEIS
                          boundingBox:
                            - x: 3.4213
                              'y': 2.416
                            - x: 6.2081
                              'y': 2.3145
                            - x: 6.2131
                              'y': 2.4617
                            - x: 3.4213
                              'y': 2.5683
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: 7º
                              boundingBox:
                                - x: 3.4314
                                  'y': 2.416
                                - x: 3.533
                                  'y': 2.416
                                - x: 3.533
                                  'y': 2.5683
                                - x: 3.4314
                                  'y': 2.5734
                              confidence: 0.813
                              pageNumber: 1
                            - kind: word
                              text: OFÍCIO
                              boundingBox:
                                - x: 3.5583
                                  'y': 2.416
                                - x: 4.1015
                                  'y': 2.3957
                                - x: 4.1015
                                  'y': 2.5429
                                - x: 3.5634
                                  'y': 2.5683
                              confidence: 0.948
                              pageNumber: 1
                            - kind: word
                              text: DO
                              boundingBox:
                                - x: 4.1522
                                  'y': 2.3957
                                - x: 4.3604
                                  'y': 2.3907
                                - x: 4.3654
                                  'y': 2.5328
                                - x: 4.1573
                                  'y': 2.5429
                              confidence: 0.999
                              pageNumber: 1
                            - kind: word
                              text: REGISTRO
                              boundingBox:
                                - x: 4.4111
                                  'y': 2.3856
                                - x: 5.1928
                                  'y': 2.3602
                                - x: 5.1928
                                  'y': 2.5023
                                - x: 4.4162
                                  'y': 2.5328
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: DE
                              boundingBox:
                                - x: 5.2436
                                  'y': 2.3551
                                - x: 5.4619
                                  'y': 2.3501
                                - x: 5.467
                                  'y': 2.4922
                                - x: 5.2487
                                  'y': 2.5023
                              confidence: 0.999
                              pageNumber: 1
                            - kind: word
                              text: IMÓVEIS
                              boundingBox:
                                - x: 5.4974
                                  'y': 2.345
                                - x: 6.1928
                                  'y': 2.3196
                                - x: 6.1979
                                  'y': 2.4617
                                - x: 5.4974
                                  'y': 2.4922
                              confidence: 0.931
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: BAHIA
                          boundingBox:
                            - x: 4.6852
                              'y': 2.548
                            - x: 5.0558
                              'y': 2.5429
                            - x: 5.0558
                              'y': 2.6394
                            - x: 4.6852
                              'y': 2.6495
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: BAHIA
                              boundingBox:
                                - x: 4.6852
                                  'y': 2.5531
                                - x: 5.0152
                                  'y': 2.5429
                                - x: 5.0203
                                  'y': 2.6444
                                - x: 4.6903
                                  'y': 2.6495
                              confidence: 0.994
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: REGISTRO GERAL - ANO 2014
                          boundingBox:
                            - x: 2.7817
                              'y': 2.9997
                            - x: 4.3451
                              'y': 2.9541
                            - x: 4.3502
                              'y': 3.0556
                            - x: 2.7868
                              'y': 3.1013
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: REGISTRO
                              boundingBox:
                                - x: 2.7868
                                  'y': 3.0048
                                - x: 3.3198
                                  'y': 2.9896
                                - x: 3.3248
                                  'y': 3.0911
                                - x: 2.7919
                                  'y': 3.1013
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: GERAL
                              boundingBox:
                                - x: 3.3655
                                  'y': 2.9896
                                - x: 3.7462
                                  'y': 2.9744
                                - x: 3.7462
                                  'y': 3.0759
                                - x: 3.3705
                                  'y': 3.086
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: '-'
                              boundingBox:
                                - x: 3.7766
                                  'y': 2.9744
                                - x: 3.8223
                                  'y': 2.9744
                                - x: 3.8274
                                  'y': 3.0759
                                - x: 3.7817
                                  'y': 3.0759
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: ANO
                              boundingBox:
                                - x: 3.8426
                                  'y': 2.9744
                                - x: 4.0558
                                  'y': 2.9642
                                - x: 4.0609
                                  'y': 3.0657
                                - x: 3.8477
                                  'y': 3.0759
                              confidence: 0.997
                              pageNumber: 1
                            - kind: word
                              text: '2014'
                              boundingBox:
                                - x: 4.1066
                                  'y': 2.9642
                                - x: 4.335
                                  'y': 2.9541
                                - x: 4.335
                                  'y': 3.0607
                                - x: 4.1066
                                  'y': 3.0657
                              confidence: 0.994
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: Oficial Titular
                          boundingBox:
                            - x: 5.7157
                              'y': 3.0302
                            - x: 6.3959
                              'y': 3.02
                            - x: 6.401
                              'y': 3.1114
                            - x: 5.7208
                              'y': 3.1266
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: Oficial
                              boundingBox:
                                - x: 5.7208
                                  'y': 3.0302
                                - x: 6.0406
                                  'y': 3.0251
                                - x: 6.0456
                                  'y': 3.1165
                                - x: 5.7208
                                  'y': 3.1317
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: Titular
                              boundingBox:
                                - x: 6.0609
                                  'y': 3.0251
                                - x: 6.3959
                                  'y': 3.02
                                - x: 6.3959
                                  'y': 3.1114
                                - x: 6.0609
                                  'y': 3.1165
                              confidence: 0.996
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: MATRÍCULA Nº
                          boundingBox:
                            - x: 1.3299
                              'y': 3.4566
                            - x: 2.3147
                              'y': 3.4312
                            - x: 2.3147
                              'y': 3.5479
                            - x: 1.3299
                              'y': 3.5784
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: MATRÍCULA
                              boundingBox:
                                - x: 1.3401
                                  'y': 3.4616
                                - x: 2.1117
                                  'y': 3.4413
                                - x: 2.1167
                                  'y': 3.5581
                                - x: 1.3401
                                  'y': 3.5784
                              confidence: 0.949
                              pageNumber: 1
                            - kind: word
                              text: Nº
                              boundingBox:
                                - x: 2.1472
                                  'y': 3.4363
                                - x: 2.3147
                                  'y': 3.4312
                                - x: 2.3198
                                  'y': 3.5479
                                - x: 2.1523
                                  'y': 3.5581
                              confidence: 0.552
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: '45.463'
                          boundingBox:
                            - x: 2.4822
                              'y': 3.4363
                            - x: 2.8578
                              'y': 3.4312
                            - x: 2.8629
                              'y': 3.5327
                            - x: 2.4822
                              'y': 3.5428
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: '45.463'
                              boundingBox:
                                - x: 2.4822
                                  'y': 3.4363
                                - x: 2.8375
                                  'y': 3.4312
                                - x: 2.8375
                                  'y': 3.5378
                                - x: 2.4873
                                  'y': 3.5428
                              confidence: 0.994
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: FICHA
                          boundingBox:
                            - x: 3.0913
                              'y': 3.421
                            - x: 3.5685
                              'y': 3.4109
                            - x: 3.5685
                              'y': 3.5225
                            - x: 3.0913
                              'y': 3.5327
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: FICHA
                              boundingBox:
                                - x: 3.0964
                                  'y': 3.4261
                                - x: 3.4873
                                  'y': 3.416
                                - x: 3.4822
                                  'y': 3.5276
                                - x: 3.0964
                                  'y': 3.5378
                              confidence: 0.994
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: 01F
                          boundingBox:
                            - x: 3.67
                              'y': 3.4109
                            - x: 3.9137
                              'y': 3.4058
                            - x: 3.9137
                              'y': 3.5022
                            - x: 3.67
                              'y': 3.5073
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: 01F
                              boundingBox:
                                - x: 3.6802
                                  'y': 3.4109
                                - x: 3.8781
                                  'y': 3.4058
                                - x: 3.8781
                                  'y': 3.5022
                                - x: 3.6802
                                  'y': 3.5073
                              confidence: 0.997
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: DATA 11/03/2014
                          boundingBox:
                            - x: 4.0863
                              'y': 3.3957
                            - x: 5.1573
                              'y': 3.3652
                            - x: 5.1624
                              'y': 3.4769
                            - x: 4.0913
                              'y': 3.5073
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: DATA
                              boundingBox:
                                - x: 4.0913
                                  'y': 3.3957
                                - x: 4.4264
                                  'y': 3.3855
                                - x: 4.4314
                                  'y': 3.5022
                                - x: 4.0913
                                  'y': 3.5124
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: 11/03/2014
                              boundingBox:
                                - x: 4.5533
                                  'y': 3.3855
                                - x: 5.1472
                                  'y': 3.3703
                                - x: 5.1472
                                  'y': 3.4819
                                - x: 4.5533
                                  'y': 3.4972
                              confidence: 0.986
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: IDENTIFICAÇÃO DO IMÓVEL
                          boundingBox:
                            - x: 5.4416
                              'y': 3.3398
                            - x: 7.3096
                              'y': 3.284
                            - x: 7.3147
                              'y': 3.421
                            - x: 5.4467
                              'y': 3.4667
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: IDENTIFICAÇÃO
                              boundingBox:
                                - x: 5.4416
                                  'y': 3.3601
                                - x: 6.472
                                  'y': 3.3144
                                - x: 6.4771
                                  'y': 3.4515
                                - x: 5.4517
                                  'y': 3.4667
                              confidence: 0.967
                              pageNumber: 1
                            - kind: word
                              text: DO
                              boundingBox:
                                - x: 6.5228
                                  'y': 3.3144
                                - x: 6.6954
                                  'y': 3.3094
                                - x: 6.6954
                                  'y': 3.4464
                                - x: 6.5279
                                  'y': 3.4515
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: IMÓVEL
                              boundingBox:
                                - x: 6.7512
                                  'y': 3.3043
                                - x: 7.2791
                                  'y': 3.284
                                - x: 7.2791
                                  'y': 3.421
                                - x: 6.7563
                                  'y': 3.4413
                              confidence: 0.958
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: >-
                            APARTAMENTO de número 1101 de porta, Tipo A, com
                            inscrição imobiliária 716.231-6, da TORRE A - MORADA
                          boundingBox:
                            - x: 1.3299
                              'y': 3.6545
                            - x: 7.269
                              'y': 3.5022
                            - x: 7.274
                              'y': 3.6241
                            - x: 1.3299
                              'y': 3.7662
                          appearance:
                            styleName: other
                            styleConfidence: 0.878
                          words:
                            - kind: word
                              text: APARTAMENTO
                              boundingBox:
                                - x: 1.3299
                                  'y': 3.6596
                                - x: 2.2132
                                  'y': 3.6393
                                - x: 2.2183
                                  'y': 3.751
                                - x: 1.335
                                  'y': 3.7662
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: de
                              boundingBox:
                                - x: 2.2792
                                  'y': 3.6393
                                - x: 2.4061
                                  'y': 3.6342
                                - x: 2.4111
                                  'y': 3.7459
                                - x: 2.2792
                                  'y': 3.7459
                              confidence: 0.998
                              pageNumber: 1
                            - kind: word
                              text: número
                              boundingBox:
                                - x: 2.4315
                                  'y': 3.6342
                                - x: 2.8071
                                  'y': 3.6241
                                - x: 2.8071
                                  'y': 3.7357
                                - x: 2.4315
                                  'y': 3.7459
                              confidence: 0.514
                              pageNumber: 1
                            - kind: word
                              text: '1101'
                              boundingBox:
                                - x: 2.8426
                                  'y': 3.6241
                                - x: 3.0863
                                  'y': 3.619
                                - x: 3.0913
                                  'y': 3.7306
                                - x: 2.8426
                                  'y': 3.7357
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: de
                              boundingBox:
                                - x: 3.1167
                                  'y': 3.619
                                - x: 3.2487
                                  'y': 3.6139
                                - x: 3.2487
                                  'y': 3.7306
                                - x: 3.1167
                                  'y': 3.7306
                              confidence: 0.998
                              pageNumber: 1
                            - kind: word
                              text: porta,
                              boundingBox:
                                - x: 3.269
                                  'y': 3.6139
                                - x: 3.5786
                                  'y': 3.6088
                                - x: 3.5786
                                  'y': 3.7205
                                - x: 3.269
                                  'y': 3.7256
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: Tipo
                              boundingBox:
                                - x: 3.599
                                  'y': 3.6088
                                - x: 3.8375
                                  'y': 3.5987
                                - x: 3.8375
                                  'y': 3.7154
                                - x: 3.599
                                  'y': 3.7205
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: A,
                              boundingBox:
                                - x: 3.8731
                                  'y': 3.5987
                                - x: 4.005
                                  'y': 3.5936
                                - x: 4.005
                                  'y': 3.7103
                                - x: 3.8731
                                  'y': 3.7154
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: com
                              boundingBox:
                                - x: 4.0253
                                  'y': 3.5936
                                - x: 4.2081
                                  'y': 3.5885
                                - x: 4.2081
                                  'y': 3.7053
                                - x: 4.0253
                                  'y': 3.7103
                              confidence: 0.997
                              pageNumber: 1
                            - kind: word
                              text: inscrição
                              boundingBox:
                                - x: 4.2741
                                  'y': 3.5885
                                - x: 4.7106
                                  'y': 3.5784
                                - x: 4.7106
                                  'y': 3.6951
                                - x: 4.2741
                                  'y': 3.7053
                              confidence: 0.714
                              pageNumber: 1
                            - kind: word
                              text: imobiliária
                              boundingBox:
                                - x: 4.7411
                                  'y': 3.5784
                                - x: 5.2791
                                  'y': 3.5632
                                - x: 5.2842
                                  'y': 3.6748
                                - x: 4.7411
                                  'y': 3.69
                              confidence: 0.79
                              pageNumber: 1
                            - kind: word
                              text: 716.231-6,
                              boundingBox:
                                - x: 5.3198
                                  'y': 3.5632
                                - x: 5.8477
                                  'y': 3.5479
                                - x: 5.8477
                                  'y': 3.6596
                                - x: 5.3198
                                  'y': 3.6748
                              confidence: 0.994
                              pageNumber: 1
                            - kind: word
                              text: da
                              boundingBox:
                                - x: 5.868
                                  'y': 3.5479
                                - x: 5.9949
                                  'y': 3.5428
                                - x: 5.9949
                                  'y': 3.6545
                                - x: 5.868
                                  'y': 3.6596
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: TORRE
                              boundingBox:
                                - x: 6.0304
                                  'y': 3.5428
                                - x: 6.4314
                                  'y': 3.5276
                                - x: 6.4314
                                  'y': 3.6444
                                - x: 6.0355
                                  'y': 3.6545
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: A
                              boundingBox:
                                - x: 6.4873
                                  'y': 3.5276
                                - x: 6.5482
                                  'y': 3.5276
                                - x: 6.5482
                                  'y': 3.6393
                                - x: 6.4873
                                  'y': 3.6393
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: '-'
                              boundingBox:
                                - x: 6.604
                                  'y': 3.5225
                                - x: 6.6649
                                  'y': 3.5225
                                - x: 6.6649
                                  'y': 3.6342
                                - x: 6.604
                                  'y': 3.6393
                              confidence: 0.996
                              pageNumber: 1
                            - kind: word
                              text: MORADA
                              boundingBox:
                                - x: 6.7005
                                  'y': 3.5225
                                - x: 7.2334
                                  'y': 3.5073
                                - x: 7.2334
                                  'y': 3.619
                                - x: 6.7005
                                  'y': 3.6342
                              confidence: 0.996
                              pageNumber: 1
                        - kind: line
                          pageNumber: 1
                          text: >-
                            IMPERIAL, integrante do empreendimento denominado
                            CONDOMÍNIO "MORADA ALTO DO IMBUI", situado à
                          boundingBox:
                            - x: 1.335
                              'y': 3.7814
                            - x: 7.269
                              'y': 3.6291
                            - x: 7.274
                              'y': 3.7459
[...]
